.container{
    background:white;
    color:black;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    margin:10px 0;
    h3{
        font-weight: 900;
        font-size:20px;
    }
    p{
        width:60%;
        text-align: center;
        span{
            font-weight:900;
        }
    }
    .Sbutton{
        margin:20px 0;
    }
}