.container{
    background:white;
    color:black;
    display:flex;
    height:100px;
    padding-inline:10px;

    .navlinks{
        display: flex;
        gap:10px;
    }
    .logoBox{
        display: flex;
        padding:10px 20px;
        gap:10px;
        justify-content: space-between;
    .actions{
        display: flex;
        gap:2px;
        justify-items: center;
        align-items: center;
        scale:1.5;
    }
    }
}

.logo{
    width:60px !important;
    // height:2rem !important;
}