.notifbar{
    background-color: #AE8625;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 900;
    height:50px;
}